.grid-container1 {
    display: grid;
    grid-template-columns: auto;
    background-color: #3d6ad6;
    height: 2em;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr 1fr;
}

.marg {

}
.grid-item {
    text-align: center;
    border: 2px solid black;
}

.btn {
    
}

/*.hidden-item {
    background-color: rgba(red, green, blue, alpha);
    border: 2px solid rgba(red, green, blue, alpha);
    padding: 20 px;
    text-align: center;
}

.grid > div:nth-child (2) {
} */
